<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
  </head>
  <body>
    <div class="container">
      <div class="personal">
        <br><br><br><br>
        <div id="info">
          <h2>Area of Interest :</h2>
          <ul>
            <li>Design and Development.</li>
            <li>Web application development.</li>
            <li>Developing new and improving existing.</li>
            <li>Solving technological problems.</li>
          </ul>
        </div>
        <div id="info">
          <h2> Personal Details :</h2>
          <div class="personal-details">
            <p id="details" style="float: left">
              <span>Father’s Name </span>
              <span>Birthday </span>
              <span>Nationality </span>
              <span>Gender </span>
              <span>Blood Group </span>
              <span>Marital Status </span>
              <span>Address </span>
            </p>
            <p id="details1">
              <span>: Mr.Sudalai S</span>
              <span>: June<sup>3rd</sup>,1994</span>
              <span>: Indian</span>
              <span>: Male</span>
              <span>: A<sup>1</sup>B<sup>+ve</sup>,</span>
              <span>: Married</span>
              <span
                >: 68/50B, Shenbaga Vinayagar Kovil Street, Tenkasi (Dt) - 627
                811, Tamilnadu.</span
              >
            </p>
          </div>
        </div><br><br><br><br><br> <picture>
          <source media="(min-width: )" srcset="">
          <img src="" alt="">
        </picture>
        <div class="declration">
          <h2>Declaration :</h2>
          <p>
            I hereby declare that the above mentioned particulars are true to my
            belief and knowledge and I will be sincere and honest in my work.
          </p>
        </div>
      </div>
      <div class="professional">
        <h2 id="name">EDUCATION</h2>
        <div id="info-1">
          <a href="../../assets/Provisional Certificate.jpg" target="_blank">
          <h3
            style="
              font-size: large;
              font-weight: bolder;
              font-family: 'Courier New';
              text-decoration: underline;
            "
          >
            <img src="../../assets/mechanical.png" alt="mechanical" /> BATCHELOR
            OF MECHANICAL ENGINEERING
          </h3></a>
          <p> <img src="../../assets/AnnaUniversity.png" alt="anna_university"> Board of ANNA UNIVERSITY</p>
          <p> <img src="../../assets/Actcet.jpeg" alt="actcet"> ACT College Of Engineering and Technology, Nelvoy.</p>
          <p>
            <img src="../../assets/Graduate.png" alt="graduate">
            Graduated,
            <span style="font-weight: bolder; text-decoration: underline"
              >May-2015.</span
            >
          </p>
          <p> <img src="../../assets/score.png " alt="scores">
            Marks :
            <span style="font-weight: bolder; text-decoration: underline"
              >65.5%</span
            >
          </p>
        </div>
        <br />
        <hr style="width: 400px" />

        <div id="info-1">
          <a href="../../assets/12th marksheet.jpg" target="_blank">
          <h3
            style="
              font-size: large;
              font-weight: bolder;
              font-family: 'Courier New';
              text-decoration: underline;
            "
          >
            <img src="../../assets/SCHOOL1.png" alt="school1" /> HIGHER
            SECONDARY
          </h3></a>
          <p> <img src="../../assets/TamilNaduLogo.png" alt="TNlogo"> State Board of TamilNadu.</p>
          <p> <img src="../../assets/school.png" alt="school"> ICI Government Boys Higher secondary School, Tenkasi.</p>
          <p> <img src="../../assets/Graduate.png" alt="graduate">
            Graduated,
            <span style="font-weight: bolder; text-decoration: underline"
              >March-2011.</span
            >
          </p>
          <p> <img src="../../assets/score.png" alt="score">
            Marks :
            <span style="font-weight: bolder; text-decoration: underline"
              >83.66%</span
            >
          </p>
        </div>
        <br />
        <hr style="width: 400px" />

        <div id="info-1">
          <a href="../../assets/10th marksheet.jpg" target="_blank">
          <h3
            style="
              font-size: large;
              font-weight: bolder;
              font-family: 'Courier New';
              text-decoration: underline;
            "
          >
            <img src="../../assets/SCHOOL1.png" alt="school1" /> SECONDARY
            SCHOOL
          </h3></a>
          <p> <img src="../../assets/TamilNaduLogo.png" alt="TNlogo"> State Board of TamilNadu.</p>
          <p> <img src="../../assets/RPHSS.jpeg" alt="RPHSS"> Ramaswamy Pillai Higher secondary School, Ilanji.</p>
          <p> <img src="../../assets/Graduate.png" alt="graduate">
            Graduated,
            <span style="font-weight: bolder; text-decoration: underline"
              >July-2009.</span
            >
          </p>
          <p> <img src="../../assets/score.png" alt="score">
            Marks :
            <span style="font-weight: bolder; text-decoration: underline"
              >78.4%</span
            >
          </p>
        </div>
        <br />
        <hr style="width: 400px" />

        <div class="footer">
          <p>Place : <span style="padding-left: 300px;">Signature</span></p>
          <p>Date : <span style="padding-left: 285px;font-weight: bolder;">(MUTHUSAMY.S)</span></p>
        </div>
        <button class="lastbutton" (click)="previousPage()" >
          <img id="previousbutton" src="../../assets/previous.png" alt="previous_icon" />
         </button>
      </div>
    </div>
  </body>
</html>
