<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
  </head>
  <body>
    <div class="container">
      <div class="personal">
        <div class="photo">
          <img src="../../assets/my picture.jpg" alt="myphoto" />
        </div>
        <div id="info">
          <h2>Objective :</h2>
          <p style="font-family: 'Courier New'">
            To be a part of an organization where I can fully utilize my skills
            and make a significant contribution to the success of the employer
            and at the same time my individual growth.
          </p>
        </div>
        <div id="info">
          <h2>Strength :</h2>
          <ul>
            <li>Self-motivated with Positive Attitude.</li>
            <li>Be able to quickly Adapt to new environment.</li>
            <li>Innovative thaughts and possitive Attitude.</li>
            <li>Good Customer support during the live testing.</li>
          </ul>
        </div>

        <div id="info">
          <h2>Software Skills :</h2>
          <ul>
            <li>
              Having knowledge in
              <span
                style="
                  font-weight: bolder;
                  font-style: italic;
                  font-family: 'Times New Roman';
                "
              >
                HTML & CSS</span
              >.
            </li>
            <li>
              Basics of
              <span
                style="
                  font-weight: bolder;
                  font-style: italic;
                  font-family: 'Times New Roman';
                "
              >
                JAVASCRIPT & ANGULAR</span
              >
              .
            </li>
          </ul>
        </div>
        <div id="info">
          <h2>Personal Interests:</h2>
          <ul>
            <li>Drawing and Paper Designing.</li>
            <li>Playing Football and Cricket.</li>
            <li>Designing videos and Photos.</li>
          </ul>
        </div>
      </div>
      <div class="professional">
        <h2 id="name">MUTHUSAMY S</h2>
        <div id="info-1">
          <a href="../../assets/Degree Certificate.jpg" target="_blank">
            <p style="font-size: 20px;">
              <img src="../../assets/BE-mechanical.png" alt="Be-mechanical" />
              BE - Mechanical Engineering
            </p></a
          >
          <p>
            <img src="../../assets/address.png" alt="address" /> 68, Shenbaga
            Vinayagar Kovil Street, Tenkasi
          </p>
          <p>
            <img src="../../assets/mail.png" alt="emailid" />
            muthumaya.12@gmail.com
          </p>
          <p>
            <img src="../../assets/contact-book.png" alt="mobile" />
            +91-9788662536
          </p>
        </div>
        <br /><br />

        <h2 id="name" style="width: 200px">WORK EXPERIENCE</h2>
        <div id="info-1">

          <h3
            style="
              font-size: large;
              font-weight: bolder;
              font-family: 'Courier New';
            "
          >
            <img src="../../assets/bajaj.png" alt="bajaj" /> BAJAJ FINSERV,
            Tenkasi.
          </h3>
          <a href="../../assets/bajaj exp.jpg" target="_blank">
          <span style="font-weight: bolder; text-decoration: underline">
            <img src="../../assets/man.png" alt="" /> Sales Excutive</span
          ></a>
          <br /><br />
          <p>&nbsp;&nbsp;&nbsp;&nbsp; 2017 - Still Working.</p>
          <p>
            <span style="font-weight: bolder; text-decoration: underline;">
              <img src="../../assets/job-offer.png" alt="" /> Job Description
              :</span
            >
            Consumer Durable, Sales and Marketing, Financial Adviser, Customer
            handling.
          </p>
        </div>
        <br />
        <hr style="width: 500px" />
        <br />
        <div id="info-1">
          <h3
            style="
              font-size: large;
              font-weight: bolder;
              font-family: 'Courier New';
            "
          >
            <img src="../../assets/renault.png" alt="renault" /> Renault Nissan
            Automotive India Pvt Ltd, Chennai
          </h3>
          <a href="../../assets/Nissan Experience Letter .jpg" target="_blank">
          <span style="font-weight: bolder; text-decoration: underline">
            <img src="../../assets/man.png" alt="" /> Graduate Apperantice
            Training.</span
          ></a>
          <br /><br />
          <p>&nbsp;&nbsp;&nbsp;&nbsp; 2016 - 2017.</p>
          <p>
            <span style="font-weight: bolder; text-decoration: underline">
              <img src="../../assets/job-offer.png" alt="" /> Job Description
              :</span
            >
            Trained in Spot Welding, Repair Vehicle Body Defects, Visual
            Inspection and Quality Analysis, Engine parts assembly.
          </p>
        </div>
      </div>
      <br /><br />
      <button class="lastbutton" (click)="nextPage()">
        <img id="nextbutton" src="../../assets/Next.png" alt="next icon" />
      </button>
    </div>
  </body>
</html>
