*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.box{
  background-image: url('../../assets/interview1.jpg');
  border-radius: 30px;
  box-shadow: 10px 20px 25px rgb(0,0,0, .5),
              10px 20px 25px  rgb(0,0,0, .5) ;
  overflow: hidden;
  max-width: 100%;
  width: 380px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  transform-style: preserve-3d;
}
.content{
  margin-top: 180px;
  min-width: 50%;

}
h1{
  margin-left: 10px;
  margin-top: -70px;
  position: relative;
  color: white;
  font-family: 'Cambria';
  font-size: xx-large;
  text-shadow: 3px 0px 3px;
  z-index: 3;
}
button{
  margin-left: 10rem;
  margin-top: 60px;
  font-family: 'Cambria';
  font-size: large;
  background-color: rgb(0, 255, 213);
  color: black;
  padding: 10px 40px;
  cursor: pointer;
  border: none;
  text-shadow: 3px 0px 3px gray;
  border-radius: 30px;
  box-shadow: 10px 20px 25px rgb(0,0,0, .5),
  10px 20px 25px  rgb(0,0,0, .5) ;
}
#resume{
  width: 15rem;
  height: 15rem;
  position: relative;
  right: 7rem;
  z-index: 2;
  bottom: 10rem;
}
.path{
  position: absolute;
  min-height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #00DBDe 0%, #FC00FF 100% );
  clip-path: circle(250px at left 60px);
}

